.header{
    color: black;
    font: 1em sans-serif;
}

.menu{
    display: flex;
    flex-direction: row;
}

.left-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.right-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

li{
    list-style-type: none;
    padding: 0 1em;
    margin: 1em;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
}